{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block metadescription %}
    Sign in and enjoy the variety coffee
{% endblock %}
{% block title %}
    Login Coffee Page
{% endblock title %}
{% block content %}
    <div class="container">
        <br>
        <h1 class="my_title ">Login Page</h1>

        <br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center my_custom_div">
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy}}
                <button class="btn btn-primary" type="submit">LOGIN</button>
                <br>
                <br>
            </form>
            <a href="{% url 'accounts:signup' %}">Create Account ?</a>
        </div>
        <br>
    </div>
    <br>
{% endblock %}