{% extends 'base.html' %}

{% block title %} {% endblock title %}


{% block content %}



<style>
    .delete-box{
        text-align: center;
        margin-top: 100px;
    }
</style>



    <div class="delete-box">
        <h1>Delete Coffee</h1>
<form action="" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{coffee.name}}" ?</p>
            <input class="btn btn-danger" type="submit" value="confirm">

        </form>
    </div>

{% endblock content %}